
<ion-view class="finishPro">
    <ion-content>
        <div class="worker_topTitle">
            两江公馆
        </div>
        <div class="weekDays">
            <span>一</span>
            <span>二</span>
            <span>三</span>
            <span>四</span>
            <span>五</span>
            <span>六</span>
            <span>天</span>
        </div>
        <div class="workerCountList">
            <h3>
                2016年11月3日
            </h3>
            <ul>
                <li>
                    <label>东方不败
                    </label>
                    <span>今日完成32345㎡</span>
                    <button>决算</button>
                </li>
                <li>
                    <label>东方不败
                    </label>
                    <a>今日完成32345</a>
                    <button>决算</button>
                </li>
                <li>
                    <label>东方不败
                    </label>
                    <span>今日完成32345㎡</span>
                    <button>决算</button>
                </li>
                <li>
                    <label>东方不败
                    </label>
                    <span>今日完成32345㎡</span>
                    <button>决算</button>
                </li>
            </ul>
            <p class="noMore">没有更多数据</p>
        </div>

    </ion-content>
    <div class="tabs bottomButton">
        <button>完成</button>
    </div>
</ion-view>
