
<ion-view class="finishPro">
    <ion-content>
        <div class="worker_topTitle">
            两江公馆
        </div>
        <div class="weekDays">
            <span ng-click="changeShow(1);">一</span>
            <span ng-click="changeShow(2);">二</span>
            <span ng-click="changeShow(3);">三</span>
            <span ng-click="changeShow(4);">四</span>
            <span ng-click="changeShow(5);">五</span>
            <span ng-click="changeShow(6);">六</span>
            <span ng-click="changeShow(0);">天</span>
        </div>
        <div class="workerCountList">
            <h3>
                {{showdata.nowTime}}
            </h3>
            <ul>
                <li ng-repeat="item in showdata.workerList">
                    <label>{{item.nick}}
                    </label>
                    <span>今日完成{{item.dayValue}}㎡</span>
                    <button ng-click="projectBudget(item.id)">决算</button>
                </li>
            </ul>
            <p class="noMore">没有更多数据</p>
        </div>

    </ion-content>
    <div class="tabs bottomButton">
        <button>完成</button>
    </div>
</ion-view>
