
.worker_topTitle{
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #2d2d2c;
    text-align: center;
    background: #ffe04e;
}

.worker_list{
    &:last-child{
        padding-bottom: 50px;
    }
    h3{
        background: #f9f9f9;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        text-align: center;
        color: #6c6c6c;
    }
    ul{
        background: #fdfeff;
        li{
            padding: 13px 0px;
            padding-left: 40px;
            padding-left: 1.066rem;
            border-bottom: 1px solid #f3f3f3;
            position: relative;
            img{
                width: 55px;
                height: 55px;
                width: 1.466rem;
                height: 1.466rem;
                border-radius: 100px;
                display: inline-block;
            }
            .info{
                display: inline-block;
                margin-left: 20px;
                p{
                    color: #8d8d8d;
                    font-size: 13px;
                }
                .name{
                    color:#171717;
                    font-size: 15px;
                    padding-bottom: 5px;
                }
                .workeType{
                    padding-bottom: 10px;
                }
                .evaluation{
                    i{
                        color:#f1c805;
                    }
                }
            }
            button{
                width: 65px;
                width: 1.73rem;
                color: #171717;
                background: #fad318;
                position: absolute;
                right: 43px;
                right: 1.146rem;
                height: 27px;
                line-height: 27px;
                font-size: 13px;
                border-radius: 20px;
                border: none;
                top: 50%;
                margin-top: -17px;
            }
            .countNo{
                width: 65px;
                width: 1.73rem;
                color: #171717;
                position: absolute;
                right: 43px;
                right: 1.146rem;
                height: 27px;
                line-height: 27px;
                font-size: 13px;
                border-radius: 20px;
                border: none;
                top: 50%;
                margin-top: -17px;
            }
            .buttonCon{
                position: absolute;
                right: 43px;
                right: 0.86666rem;
                top: 50%;
                margin-top: -10px;
                width: 119px;
                width: 3.2rem;
                font-size: 0px;
                line-height: 20px;
                button{
                    position: static;
                    width: 52px;
                    width: 1.38666rem;
                    height: 18px;
                    background: white;
                    border: 1px solid #fad318;
                    border-radius: 10px;
                    font-size: 12px;
                    color: #171717;
                    line-height: 18px;
                    padding: 0px;
                    &:first-child{
                        margin-right: 10px;
                        margin-right:0.26666rem;
                    }
                }

            }
        }
    }
}
