<ion-view class="wantOffer">
    <ion-content>
        <ion-refresher
            pulling-text="下拉刷新…"
            on-refresh="resetList(true)"
            spinner="spiral">
        </ion-refresher>
        <div class="worker_topTitle">
            招工
        </div>
        <div class="worker_banner">
            <img src="./images/tempSrc/01e439571c20646ac72538120b45fd.png" class="arrow_index">
        </div>
        <div class="regionSelect">
            <div class="half leftBorder">
                重庆市<i></i>
                <select>
                    <option value="重庆市">重庆市</option>
                    <!-- <option value="上海">上海</option> -->
                </select>
            </div>
            <div class="half">
                {{data.address2}}<i></i>
                <select ng-model="data.address2" ng-change="resetList(true)">
                    <option  ng-repeat = "item in cityList" value="{{item.name}}">{{item.name}}</option>

                </select>


            </div>
        </div>
        <div class="worker_list" ng-if="rootRole * 1 == 1">
            <h3>
                求职信息
            </h3>
            <ul>
                <li ng-repeat = "item in data.wList track by $index">
                    <jdb-img-view img-src="{'url':item.head}" default-img="'./images/normal/96Z58PICUJ4_1024.png'">
                    </jdb-img-view>
                    <!-- <img  ng-src="{{item.head}}"> -->
                    <!-- <img src="./images/tempSrc/temp_pro.png" ng-src="{{item.head}}"> -->
                    <div class="info">
                        <p class="name">
                            <!-- 东方不败 -->{{item.userName}}
                        </p>
                        <p class="workeType">
                            {{['','砌砖工'][item.workType * 1] }}
                        </p>
                        <p class="evaluation">
                            综合评价：<i>{{item.score}}</i>
                        </p>
                    </div>
                    <button ng-click="inviteSomebody(item)">
                        邀请
                    </button>
                </li>

            </ul>
            <p class="tipNo" ng-if=" data.wList.length == 0">
                暂时更多求职人员
            </p>
            <ion-infinite-scroll ng-if="data.curentPa!=0 &&!(data.curentPa > data.totalPa)" on-infinite="nextPage()" class="active" distance="1%" ></ion-infinite-scroll>
        </div>
        <div class="worker_list project_list" ng-if="rootRole * 1 == 2">
            <h3>
                招工信息
            </h3>
            <ul>
                <li ng-repeat = "item in data.pList track by $index">

                    <jdb-img-view img-src="{'url':item.pic}" default-img="'./images/tempSrc/temp_pro.png'">
                    </jdb-img-view>
                    <div class="info">
                        <p class="name">
                            <!-- 东方不败 -->{{item.projectName}}
                        </p>
                        <p class="workeType">
                            {{item.wokerTypeName}}
                        </p>
                        <p class="evaluation">
                            综合评价：<i>{{item.bossScore}}</i>
                        </p>
                    </div>
                    <button ng-click="applyWork(item.id)">
                        申请
                    </button>
                </li>

            </ul>
            <p class="tipNo" ng-if=" data.pList.length == 0">
                没有招工项目
            </p>
            <p class="tipNo" ng-if=" data.curentPa >= data.totalPa">
                没有更多招工项目
            </p>
            <ion-infinite-scroll ng-if="data.curentPa!=0 && (data.curentPa < data.totalPa)" on-infinite="nextPage()" class="active" distance="1%" ></ion-infinite-scroll>
        </div>
        <div class="publishProBut" ng-click="toPublishPro()">
            <button>
                我要求职
            </button>
        </div>
    </ion-content>
</ion-view>
