<ion-view class="wantOffer">
    <ion-content>
        <div class="worker_topTitle">
            招工
        </div>
        <div class="worker_banner">
            <img src="./images/tempSrc/01e439571c20646ac72538120b45fd.png" class="arrow_index">
        </div>
        <div class="regionSelect">
            <div class="half leftBorder">
                重庆<i></i>
                <select>
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                </select>
            </div>
            <div class="half">
                江北区<i></i>
            </div>
        </div>
        <div class="worker_list" ng-if="rootRole * 1 == 1">
            <h3>
                求职信息
            </h3>
            <ul>
                <li ng-repeat = "item in data.wList">
                    <img  ng-src="{{item.head}}">
                    <!-- <img src="./images/tempSrc/temp_pro.png" ng-src="{{item.head}}"> -->
                    <div class="info">
                        <p class="name">
                            <!-- 东方不败 -->{{item.userName}}
                        </p>
                        <p class="workeType">
                            {{['','砌砖工'][item.workType * 1] }}
                        </p>
                        <p class="evaluation">
                            综合评价：<i>{{item.score}}</i>
                        </p>
                    </div>
                    <button ng-click="inviteSomebody(item)">
                        邀请
                    </button>
                </li>

            </ul>
            <p class="tipNo" ng-if=" data.wList.length == 0">
                暂时没有加入项目
            </p>
        </div>
        <div class="worker_list project_list" ng-if="rootRole * 1 == 2">
            <h3>
                招工信息
            </h3>
            <ul>
                <li ng-repeat = "item in data.pList">
                    <img src="./images/tempSrc/temp_pro.png" ng-src="{{item.pic}}">
                    <div class="info">
                        <p class="name">
                            <!-- 东方不败 -->{{item.projectName}}
                        </p>
                        <p class="workeType">
                            {{item.wokerTypeName}}
                        </p>
                        <p class="evaluation">
                            综合评价：<i>bossScore</i>
                        </p>
                    </div>
                    <button ng-click="applyWork(item.id)">
                        申请
                    </button>
                </li>

            </ul>
        </div>
        <div class="publishProBut" ng-click="toPublishPro()">
            <button>
                我要发布
            </button>
        </div>
    </ion-content>
</ion-view>
