<ion-view class="wantOffer">
    <ion-content>
        <div class="worker_topTitle">
            招工
        </div>
        <div class="worker_banner">
            <img src="./images/tempSrc/01e439571c20646ac72538120b45fd.png" class="arrow_index">
        </div>
        <div class="regionSelect">
            <div class="half leftBorder">
                重庆<i></i>
                <select>
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                </select>
            </div>
            <div class="half">
                江北区<i></i>
            </div>
        </div>
        <div class="worker_list">
            <h3>
                求职信息
            </h3>
            <ul>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <button ng-click="inviteSomebody()">
                        邀请
                    </button>
                </li>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <button>
                        邀请
                    </button>
                </li>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <button ng-click="">
                        邀请
                    </button>
                </li>
            </ul>
        </div>

        <div class="publishProBut" ng-click="toPublishPro()">
            <button>
                我要发布
            </button>
        </div>
    </ion-content>
</ion-view>
