<ion-view class="index_choose">
    <ion-content>
        <div class="index_choose_con">
            <div class="jdb_container">
                <!--<img  class="map_index" src="/public/images/index_choose/map_index.png">-->
                <img src="./images/index_choose/arrow_index.png" class="arrow_index">
                <div class="fixedContainer">
                     <p> 定位中......</p>
                     <div>
                         <p class="small">寻找离你最近的</p>
                         <p class="big"> 请选择离你最近的职业</p>
                         <div class="button_con">
                             <button class="active_choose" ng-click="roleChoose(1)">
                                 劳务员
                             </button>
                            <button ng-click="roleChoose(0)">
                                 砌体工
                             </button>
                         </div>

                     </div>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>
