
<ion-view class="applyWork">
    <ion-content>
        <div class="worker_topTitle">
            申请
        </div>
        <div class="topContainer">
            <div class="imgCon">
                <img src="./images/tempSrc/temp_pro.png" ng-src="{{data.project.pic}}">
            </div>
            <p class="proName">
                {{data.project.projectName}}
                <span>{{data.project.address1}}/{{data.project.address2}}</span>
            </p>
            <!-- <p class="peoRole">
                劳务员 <span> 未认证</span>
            </p> -->
            <p>
                {{['','砌体工'][data.project.workType]}}{{data.project.workerCount}}人   {{data.project.quantity}}m
            </p>
            <p>单价：{{data.project.price}}元／m
            </p>
            <p class="peopleInfo">
                <span>
                    劳务员
                </span>
                <span>
                    {{data.user.nick}}
                </span>
                <span>
                    {{['未认证', '已认证'][data.user.authState]}}
                </span>
            </p>
        </div>
        <div class="countInfo">
            <ul class="">
                <li>

                    <span class="itemName workerProfe">
                        职业道德
                    </span>
                    <span class="countNo">
                        {{data.uex.moralScore}}分
                    </span>
                </li>
                <li>

                    <span class="itemName speed">
                        结账速度
                    </span>
                    <span class="countNo">
                        {{data.uex.payScore}}分
                    </span>
                </li>
                <li>

                    <span class="itemName integrity">
                        性格分
                    </span>
                    <span class="countNo">
                        {{data.uex.temperScore}}分
                    </span>
                </li>
                <li>

                    <span class="itemName quality">
                        管理水平
                    </span>
                    <span class="countNo">
                        {{data.uex.manageScore}}分
                    </span>
                </li>
            </ul>
        </div>
        <div class="evaluation">
            <h3>收到的评价
            </h3>
            <div class="detailEvaluation">
                <p>{{data.comment.content}}</p>
                <!-- <p>东方不败：干活老实，不挑肥拣瘦。
                </p>
                <p>东方不败：干活老实，不挑肥拣瘦。
                </p> -->
            </div>
        </div>

    </ion-content>
    <div class="tabs bottomButton">
        <button class="yellow" ng-click="applySubmit()">立即申请</button>
        <button class="share">分享</button>
    </div>
</ion-view>
