<ion-view>
  <ion-content>
    <fancy-select
                  header-text="Single"
                  allow-empty='false'
                  value="val.single"
                  text="countries_text_single"
                  items="countries">
    </fancy-select>

    <fancy-select
                  header-text="Multiple"
                  allow-empty='false'
                  value="val.multiple"
                  text="countries_text_multiple"
                  items="countries"
                  multi-select="true"            
                  >
    </fancy-select>

  </ion-content>
</ion-view>