<ion-view class="managePro">
    <ion-content>
        <div class="worker_topTitle">
            项目管理
        </div>
        <div class="worker_list" ng-if="pageType == 'laborSupervision'">
            <h3>
                项目列表
            </h3>
            <ul>
                <li ng-click="toFinishPro()">
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <span class="countNo">
                        500 m^2
                    </span>
                </li>
                <li ng-click="toFinishPro()">
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <span class="countNo">
                        500m
                    </span>
                </li>
                <li ng-click="toFinishPro()">
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <span class="countNo">
                        500m
                    </span>
                </li>
            </ul>
        </div>

        <div class="worker_list" ng-if="pageType == 'laborSupervision'">
            <h3>
                意向工人
            </h3>
            <ul>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <div class="buttonCon">
                        <button>
                            上工
                        </button>
                        <button>
                            拒绝
                        </button>
                    </div>
                </li>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <div class="buttonCon">
                        <button>
                            上工
                        </button>
                        <button>
                            拒绝
                        </button>
                    </div>
                </li>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <div class="buttonCon">
                        <button>
                            上工
                        </button>
                        <button>
                            拒绝
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="worker_submit" ng-if="pageType == 'worker'">
            <h3>两江公馆</h3>
            <div class="dateDiv">
                <a>
                    2016年11月3日
                </a>
            </div>
            <div class="input_Detail">
                <p class="inputPa">
                    今日完成<input >㎡
                </p>
                <p class="noPa">
                    当前项目累计完成<span>20</span>㎡
                </p>

                <button>
                    立即提交
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
