<ion-view class="managePro">
    <ion-content>
        <div class="worker_topTitle">
            项目管理
        </div>
        <div class="worker_list" ng-if="pageType == 'laborSupervision'">
            <h3>
                项目列表
            </h3>
            <ul>
                <li ng-click="toFinishPro()" ng-repeat="item in data.pList">
                    <img  ng-src="{{item.pic.split(',')[0]}}">
                    <div class="info">
                        <p class="name">
                            {{item.projectName}}
                        </p>
                        <p class="workeType">
                            {{item.workerTypeName}}
                        </p>
                        <p class="evaluation">
                            综合评价：<i>{{item.bossScore}}</i>
                        </p>
                    </div>
                    <span class="countNo">
                        {{item.quantity}} m^2
                    </span>
                </li>
            </ul>
        </div>

        <div class="worker_list" ng-if="pageType == 'laborSupervision'">
            <h3>
                意向工人
            </h3>
            <ul>
                <li ng-repeat="item in data.uList">
                    <img src="./images/tempSrc/temp_pro.png" ng-src="{{item.head}}">
                    <div class="info">
                        <p class="name">
                            {{item.userName}}
                        </p>
                        <p class="workeType">
                            {{item.workTypeName || '砌砖工'}}
                        </p>
                        <p class="evaluation">
                            综合评价：<i>{{item.score}}</i>
                        </p>
                    </div>
                    <div class="buttonCon">
                        <button ng-click="dealDoit(item, 1)">
                            上工
                        </button>
                        <button ng-click="dealDoit(item, 2)">
                            拒绝
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="worker_submit" ng-if="pageType == 'worker'">
            <h3>{{data.project.projectName}}</h3>
            <div class="dateDiv">
                <a>
                    2016年11月3日
                </a>
            </div>
            <div class="input_Detail">
                <p class="inputPa">
                    今日完成<input ng-model="workerSubmit.dayValue">㎡
                </p>
                <p class="noPa">
                    当前项目累计完成<span>{{data.project.workerCount}}</span>㎡
                </p>

                <button ng-click="workerSubmit()">
                    立即提交
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
