<ion-view class="evaluWorker">
    <ion-content>
        <div class="worker_topTitle">
            填写资料
        </div>
        <div class="topContainer">
            <div class="imgCon">
                <img src="./images/normal/defaultUser2.png">
            </div>
            <p class="peoName">
                沟里有春天
            </p>
            <p class="peoRole">
                劳务员 <span> 未认证</span>
            </p>
        </div>
        <div class="countInfo">
            <ul class="">
                <li>

                    <span class="itemName workerProfe">
                        职业道德
                    </span>
                    <span class="countNo">
                        <img src="./images/inviteWorker/FivePointedStar.png" ng-click="changeChoose(1)" ng-class="{true:'red'}[choose >= 1]">
                        <img src="./images/inviteWorker/FivePointedStar.png" ng-click="changeChoose(2)" ng-class="{true:'red'}[choose >= 2]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(3)" ng-class="{true:'red'}[choose >= 3]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(4)" ng-class="{true:'red'}[choose >= 4]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(5)" ng-class="{true:'red'}[choose >= 5]">

                    </span>
                </li>
                <li>

                    <span class="itemName speed">
                        干活速度
                    </span>
                    <span class="countNo">
                        <img src="./images/inviteWorker/FivePointedStar.png" ng-click="changeChoose(1)" ng-class="{true:'red'}[choose >= 1]">
                        <img src="./images/inviteWorker/FivePointedStar.png" ng-click="changeChoose(2)" ng-class="{true:'red'}[choose >= 2]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(3)" ng-class="{true:'red'}[choose >= 3]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(4)" ng-class="{true:'red'}[choose >= 4]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(5)" ng-class="{true:'red'}[choose >= 5]">

                    </span>
                </li>
                <li>

                    <span class="itemName integrity">
                        诚信评分
                    </span>
                    <span class="countNo">
                        <img src="./images/inviteWorker/FivePointedStar.png" ng-click="changeChoose(1)" ng-class="{true:'red'}[choose >= 1]">
                        <img src="./images/inviteWorker/FivePointedStar.png" ng-click="changeChoose(2)" ng-class="{true:'red'}[choose >= 2]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(3)" ng-class="{true:'red'}[choose >= 3]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(4)" ng-class="{true:'red'}[choose >= 4]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(5)" ng-class="{true:'red'}[choose >= 5]">

                    </span>
                </li>
                <li>

                    <span class="itemName quality">
                        质量评分
                    </span>
                    <span class="countNo">
                        <img src="./images/inviteWorker/FivePointedStar.png" ng-click="changeChoose(1)" ng-class="{true:'red'}[choose >= 1]">
                        <img src="./images/inviteWorker/FivePointedStar.png" ng-click="changeChoose(2)" ng-class="{true:'red'}[choose >= 2]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(3)" ng-class="{true:'red'}[choose >= 3]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(4)" ng-class="{true:'red'}[choose >= 4]">
                        <img src="./images/inviteWorker/FivePointedStar.png"ng-click="changeChoose(5)" ng-class="{true:'red'}[choose >= 5]">

                    </span>
                </li>
            </ul>
        </div>
        <div class="evaluation">
            <h3>评价
            </h3>
            <div class="detailEvaluation">
                <textarea></textarea>
            </div>
        </div>

    </ion-content>
    <div class="tabs bottomButton">
        <button class="yellow">完成</button>
    </div>
</ion-view>
