<ion-view class="user">
    <ion-content>
        <div class="worker_topTitle">
            我
        </div>
        <div class="count_con">
            <div class="itemCon">
                <span>
                    0
                </span>
                <p>
                    累计施工项目
                </p>
            </div>
            <div class="itemCon">
                <span>
                    0
                </span>
                <p>
                    累计施工天数
                </p>
            </div>
            <div class="itemCon">
                <span>
                    0
                </span>
                <p>
                    累计施工总量/平方
                </p>
            </div>
        </div>
        <div class="worker_list">
            <h3>
                已聘用工人
            </h3>
            <ul>
                <li>
                    东方不败
                    <button class="pingjia_button">
                        点击评价
                    </button>
                </li>
                <li>
                    东方不败
                    <button class="pingjia_button">
                        点击评价
                    </button>
                </li>
            </ul>
        </div>
        <div class="worker_list">
            <h3>
                意向工人
            </h3>
            <ul>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <div class="buttonCon">
                        <button>
                            上工
                        </button>
                        <button>
                            拒绝
                        </button>
                    </div>
                </li>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <div class="buttonCon">
                        <button>
                            上工
                        </button>
                        <button>
                            拒绝
                        </button>
                    </div>
                </li>
                <li>
                    <img src="./images/tempSrc/temp_pro.png">
                    <div class="info">
                        <p class="name">
                            东方不败
                        </p>
                        <p class="workeType">
                            砌体工
                        </p>
                        <p class="evaluation">
                            综合评价：<i>4.9</i>
                        </p>
                    </div>
                    <div class="buttonCon">
                        <button>
                            上工
                        </button>
                        <button>
                            拒绝
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="toCertificationCon">
            <button class="toCertification" ng-click="toCertification()">
                我要认证
            </button>
        </div>


    </ion-content>
</ion-view>
