<ion-view class="user">
    <ion-content>
        <div class="worker_topTitle">
            我
        </div>
        <div class="count_con">
            <div class="itemCon">
                <span>
                    {{showdata.user.hasProjects}}
                </span>
                <p>
                    累计施工项目
                </p>
            </div>
            <div class="itemCon">
                <span>
                    {{showdata.user.hasDays}}
                </span>
                <p>
                    累计施工天数
                </p>
            </div>
            <div class="itemCon">
                <span>
                    {{showdata.user.hasQuantity}}
                </span>
                <p>
                    累计施工总量/平方
                </p>
            </div>
        </div>
        <div class="worker_list">
            <h3>
                {{pageType == 'laborSupervision' ? '已聘用工人' : '已服务劳务员'}}
            </h3>
            <ul>
                <li ng-repeat="item in showdata.bossUserList">
                    {{item.userName}}
                    <button class="pingjia_button" ng-click="pingjia(item);">
                        点击评价
                    </button>
                </li>
            </ul>
        </div>
        <div class="worker_list" ng-if="pageType == 'laborSupervision'">
            <h3>
                意向工人
            </h3>
            <ul>
                <li ng-repeat="item in showdata.bossLikeUserList">
                    <img  ng-src="{{item.head}}">
                    <div class="info">
                        <p class="name">
                            {{item.userName || item.nick || '暂无姓名'}}
                        </p>
                        <p class="workeType">
                            {{item.workTypeName || '砌砖工'}}
                        </p>
                        <p class="evaluation">
                            综合评价：<i>{{item.scores || '4'}}</i>
                        </p>
                    </div>
                    <div class="buttonCon">
                        <button ng-click="dealWorker(item, 1);">
                            上工
                        </button>
                        <button ng-click="dealWorker(item, 2);">
                            拒绝
                        </button>
                    </div>
                </li>

            </ul>
        </div>

        <div class="worker_list" ng-if="pageType == 'worker'">
            <h3>
                {{ showdata.user.authState * 1 == 0 ? '未认证' : '已认证'}}
            </h3>
            <ul>
                <li >
                    <img  ng-src="{{showdata.user.head}}">
                    <div class="info">
                        <p class="name">
                            {{showdata.user.userName || showdata.user.nick || '暂无姓名'}}
                        </p>
                        <p class="workeType">
                            {{showdata.user.workTypeName || '砌砖工'}}
                        </p>
                        <!-- <p class="evaluation">
                            综合评价：<i>{{item.scores || '4'}}</i>
                        </p> -->
                    </div>
                </li>

            </ul>
        </div>
        <div class="toCertificationCon">
            <button class="toCertification" ng-click="toCertification()">
                {{ showdata.user.authState * 1 == 0 ? '我要认证' : '修改资料'}}
            </button>
        </div>


    </ion-content>
</ion-view>
