
<ion-view class="certificationCon">
    <ion-content>
        <div class="worker_topTitle">
            填写资料
        </div>
        <div class="topContainer">
            <div class="imgCon">
                <img src="./images/normal/defaultUser2.png">
            </div>
            <p class="peoName">
                沟里有春天
            </p>
            <p class="peoRole">
                劳务员
            </p>
        </div>
        <div class="formCon">
            <div class="innerDiv">
                <ul>
                    <li>
                        <label>
                            姓名
                        </label>
                        <input placeholder="请输入您的姓名">
                    </li>
                    <li>
                        <label>
                            出生
                        </label>
                        <input placeholder="请输入您的生日">
                    </li>
                    <li>
                        <label>
                            身份证
                        </label>
                        <input placeholder="请输入您的身份证号">
                    </li>
                    <li>
                        <label>
                            身份证照片
                        </label>
                        <button>
                            点击上传
                        </button>
                        <button>
                            点击上传
                        </button>
                    </li>
                    <li>
                        <label>
                            所属公司
                        </label>
                        <input placeholder="请输入公司">
                    </li>
                    <li>
                        <label>
                            联系电话
                        </label>
                        <input placeholder="请输入您的电话">
                    </li>
                    <li>
                        <label>
                            职业资格证书编号
                        </label>
                        <input placeholder="非必填">
                    </li>
                    <li>
                        <label>
                            身份证照片
                        </label>
                        <button>
                            点击上传
                        </button>
                        <button>
                            点击上传
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="toCertificationCon">
            <button class="toCertification">
                我要认证
            </button>
        </div> -->


    </ion-content>
    <div class="tabs bottomButton">
        <button>提交认证</button>
    </div>
</ion-view>
