
<ion-view class="certificationCon">
    <ion-content>
        <div class="worker_topTitle">
            填写资料
        </div>
        <div class="topContainer">
            <div class="imgCon">
                <img src="./images/normal/defaultUser2.png">
            </div>
            <p class="peoName">
                {{post.nick}}
            </p>
            <p class="peoRole">
                {{post.role == 1 ? '劳务员' : '工人'}}
            </p>
        </div>
        <div class="formCon">
            <div class="innerDiv">
                <ul>
                    <li>
                        <label>
                            姓名
                        </label>
                        <input placeholder="请输入您的姓名" ng-model="post.userName">
                    </li>
                    <li>
                        <label>
                            出生
                        </label>
                        <input placeholder="请输入您的生日,例如1991-02-27" ng-model="post.birth">
                    </li>
                    <li>
                        <label>
                            身份证
                        </label>
                        <input placeholder="请输入您的身份证号" ng-model="post.identy">
                    </li>
                    <li>

                        <label class="topLabel">
                            身份证照片
                        </label>
                        <span class="picCon">
                            <img  ng-src="{{post.tempIdPicsArr[0]}}" ng-if="post.tempIdPicsArr[0]">
                            <span class="textHolder" ng-if="!post.tempIdPicsArr[0]">点击<br>上传</span>
                            <input type="file" class="hiddeInput" file-model export-src="post.tempIdPicsArr[0]">
                        </span>
                        <span class="picCon">
                            <img ng-src="{{post.tempIdPicsArr[1]}}" ng-if="post.tempIdPicsArr[1]">
                            <span class="textHolder" ng-if="!post.tempIdPicsArr[1]">点击<br>上传</span>
                            <input type="file" class="hiddeInput" file-model export-src="post.tempIdPicsArr[1]">
                        </span>
                        <!-- <button>
                            点击上传
                        </button>
                        <button>
                            点击上传
                        </button> -->
                    </li>
                    <li>
                        <label>
                            所属公司
                        </label>
                        <input placeholder="请输入公司" ng-model="post.company">
                    </li>
                    <li>
                        <label>
                            联系电话
                        </label>
                        <input placeholder="请输入您的电话" ng-model="post.phone">
                    </li>
                    <li>
                        <label>
                            职业资格证书编号
                        </label>
                        <input placeholder="非必填" ng-model="post.caNum">
                    </li>
                    <li>
                        <label class="topLabel">
                            职业资格证书照片
                        </label>
                        <span class="picCon">
                            <img  ng-if="post.tempCaPicsArr[0]" ng-src="{{post.tempCaPicsArr[0]}}" ng-if="post.tempCaPicsArr[0]">
                            <span class="textHolder" ng-if="!post.tempCaPicsArr[0]">点击<br>上传</span>
                            <input type="file" class="hiddeInput" file-model export-src="post.tempCaPicsArr[0]">
                        </span>
                        <span class="picCon">
                            <img src="" ng-src="{{post.tempCaPicsArr[1]}}" ng-if="post.tempCaPicsArr[1]">
                            <span class="textHolder" ng-if="!post.tempCaPicsArr[1]">点击<br>上传</span>
                            <input type="file" class="hiddeInput" file-model export-src="post.tempCaPicsArr[1]">
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="toCertificationCon">
            <button class="toCertification">
                我要认证
            </button>
        </div> -->


    </ion-content>
    <div class="tabs bottomButton">
        <button ng-click="submitData()">提交认证</button>
    </div>
</ion-view>
