
<ion-view class="publishPro">
    <ion-content>
        <div class="worker_topTitle">
            发布
        </div>
        <div class="form_Pro">
            <div class="inputList_con">
                <ul>
                    <li>
                        <div class="table_cell">
                            <label>
                                项目名称:

                            </label>
                            <span class="inputItem">
                                <input placeholder="请输入项目名称" ng-model="data.projectName">

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="table_cell">
                            <label>
                                项目地区:

                            </label>
                            <span class="inputItem">
                                <input placeholder="请选择项目地区" readonly="true" value="{{data.allAddress}}">
                                <select ng-model="data.allAddress" class="addresSelect" >

                                    <option  ng-repeat = "item in cityList" value="{{ '重庆市-' + item.name}}">{{item.name}}</option>

                                </select>
                            </span>
                        </div>
                    </li>
                    <li>

                        <div class="table_cell">
                            <label>
                                招聘工种:

                            </label>
                            <span class="inputItem">
                                <input placeholder="请选择工种" ng-model="data.workType" readonly="true" value="砌砖工">

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="table_cell">
                            <label>
                                招聘人数:

                            </label>
                            <span class="inputItem">
                                <input placeholder="请输入招聘人数" ng-model="data.workerCount">

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="table_cell">
                            <label>
                                单位总量:

                            </label>
                            <span class="inputItem">
                                <input placeholder="请输入单位总量" ng-model="data.quantity">

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="table_cell">
                            <label>
                                单价:

                            </label>
                            <span class="inputItem">
                                <input placeholder="请输入单价" ng-model="data.price">

                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="imgList">
                <h3>
                    现场概况
                </h3>
                <div class="imgsCon">
                    <!-- <input type="file" style="border: 1px solid red;" file-model="" > -->
                    <!-- ng-change = "testChange($event)" ng-model="data.testFile"  capture="camera" accept="image/*" -->
                    <img  ng-repeat="item in data.picsArr track by $index" ng-src="{{item}}">
                    <button class="addImg">
                        <input type="file" class="hiddeInput" file-model export-src="data.tempImg" accept="image/*"  >
                    </button>
                </div>
            </div>
            <div class="otherInfo">
                <h3>
                    备注
                </h3>
                <div class="textCon">
                    <textarea class="otherText" ng-model="data.intro"></textarea>
                </div>
            </div>
        </div>

    </ion-content>
    <div class="tabs bottomButton">
        <button class="yellow" ng-click="publishPro()">立即发布</button>
        <button class="share" ng-click="showShareModal()">分享</button>
    </div>
</ion-view>
