
<ion-view class="publishPro">
    <ion-content>
        <div class="worker_topTitle">
            发布
        </div>
        <div class="form_Pro">
            <div class="inputList_con">
                <ul>
                    <li>
                        <div class="table_cell">
                            <label>
                                项目名称:

                            </label>
                            <span class="inputItem">
                                <input placeholder="两江公馆">

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="table_cell">
                            <label>
                                项目地区:

                            </label>
                            <span class="inputItem">
                                <input placeholder="两江公馆">

                            </span>
                        </div>
                    </li>
                    <li>

                        <div class="table_cell">
                            <label>
                                招聘工种:

                            </label>
                            <span class="inputItem">
                                <input placeholder="两江公馆">

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="table_cell">
                            <label>
                                招聘人数:

                            </label>
                            <span class="inputItem">
                                <input placeholder="两江公馆">

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="table_cell">
                            <label>
                                单位总量:

                            </label>
                            <span class="inputItem">
                                <input placeholder="两江公馆">

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="table_cell">
                            <label>
                                单价:

                            </label>
                            <span class="inputItem">
                                <input placeholder="两江公馆">

                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="imgList">
                <h3>
                    现场概况
                </h3>
                <div class="imgsCon">
                    <img src="">
                    <button class="addImg">
                    </button>
                </div>
            </div>
            <div class="otherInfo">
                <h3>
                    备注
                </h3>
                <div class="textCon">
                    <textarea class="otherText"></textarea>
                </div>
            </div>
        </div>

    </ion-content>
    <div class="tabs bottomButton">
        <button class="yellow">立即发布</button>
        <button class="share">分享</button>
    </div>
</ion-view>
